<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stupidtree.hitax">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.myprofile.ProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name=".MFileProvider"
            android:authorities="com.stupidtree.hitax.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 加上他，否则无法从相册选取图片 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.timetable.manager.TimetableManagerActivity" />
        <activity android:name=".ui.subject.SubjectActivity" />
        <activity android:name=".ui.welcome.WelcomeActivity" />
        <activity android:name=".ui.myprofile.MyProfileActivity" />
        <activity android:name=".ui.timetable.detail.TimetableDetailActivity" />
        <activity
            android:name=".ui.ActivitySplash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.teacher.ActivityTeacherOfficial" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.eas.imp.ImportTimetableActivity" />
        <activity android:name=".ui.eas.classroom.EmptyClassroomActivity" />
    </application>

</manifest>